.booking-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.booking-img img {
    width: 60px;
    height: 90px;
    margin-bottom: 0px;
}

.booking-header h1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    margin-top: 0;
    margin-bottom: 0;
}

.booking-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #441D81;
}

.booking-p, .booking-p-shoes {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
}